@import "../../Css/DashboardAll.css";

/* --------bar chart --------------- */
.bar-chart-title {
  color: var(--primaryColor2);
}
.bar-chart-size {
}
.total-growth {
  color: var(--primaryColor1);
  font-weight: bolder !important;
}

.recharts-legend-item .recharts-surface {
  border-radius: 50%;
}

.recharts-legend-item .recharts-symbols {
  border-radius: 50%;
}

/* ---------line chart---------------------------- */
.line-chart-paper {
  background-color: var(--backgroundColor2) !important;
  border-radius: 10%;
  box-shadow: none !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.recharts-line {
  stroke: var(--primaryColor1);
}
.recharts-line-dot {
  stroke: var(--primaryColor1);
}
.recharts-tooltip-label {
  color: var(--textHoverColor);
  font-size: smaller;
}
.recharts-tooltip-value {
  color: var(--primaryColor1);
  font-size: smaller;
}
.line-chart-title {
  color: var(--primaryColor2);
}

.recharts-line-curve {
  stroke: var(--textHoverColor);
}
.line-chart-total-profit {
  color: rgb(95, 93, 93);
}
.growthrate {
  display: flex;
  float: left;
  font-size: smaller;
}

/* .overflow-auto {
  overflow-y: auto;
  max-height: 100%;
} */

/* ----------responsive----------------- */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }
  .bar-chart-title {
    font-size: 1.6rem;
  }
  .line-chart-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    padding: 5px;
  }
  .bar-chart-title {
    font-size: 1.4rem;
  }
  .line-chart-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 360px) {
  .dashboard-container {
    padding: 3px;
  }
  .bar-chart-title {
    font-size: 1.2rem;
  }
  .line-chart-title {
    font-size: 1.2rem;
  }
}
.paper-bg-page .MuiPaper-root {
  color: whitesmoke !important;
  transition: background-color 0.3s ease;
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px rgba(136, 134, 134, 0.2);
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
.paper-bg-page .paper-bg2 {
  background: linear-gradient(45deg, #9cc3e2, #0d86e9) !important;
  .text2 {
    color: #616161;
    font-weight: bold;
  }
  .text1 {
    font-size: x-large;
    font-weight: bolder;
  }
}
.paper-bg-page .paper-bg1 {
  background: linear-gradient(45deg, #631ce9, #c274f3) !important;
  .text2 {
    color: #bdbdbd;
    font-weight: bold;
  }
  .text1 {
    font-size: x-large;
    font-weight: bolder;
  }
}
.text1,
.text2 {
  display: flex;
}
.CardIcon1 {
  border-radius: 10px !important;
  padding: 15px !important;
  background-color: #b388ff !important;
}
.CardIcon2 {
  border-radius: 10px !important;
  padding: 15px !important;
  background-color: #82b1ff !important;
}
